@import url(reset.css);

body{font-size: 12px;}
#wrap{width:1000px;margin:0 auto;}

#header .top{ width:1000px;height:82px;background: url(../img/top-bg.jpg) repeat-x;}
#header .top .logo{float:left;width:373px;height:82px;margin-left:16px;background: url(../img/logo.jpg) no-repeat;}
#header .top .search{padding-top:20px;width:314px;float:right; }
#header .text{width:208px;font-size: 12px;}
#header .btn{position:relative;top:8px;border:none;outline:none;width:31px;height:28px;border-radius:8px;background: url(../img/btn-bg1.gif) no-repeat;}

.banner{width:1000px;height:191px;border-bottom-left-radius:10px;}

.menu{position: relative;}
.nav{width:1000px;height:36px;background:url(../img/nav-bg.gif) repeat-x;}
.nav li{width:85px;display: block;float:left;padding-left: 15px;}
.nav a{font-size: 14px;color:#fff;line-height: 40px;font-family: "黑体";font-weight: bold;letter-spacing:3px;}
.nav a:hover{color:#fb0001;}

.menu .menu-nav{position:absolute;top:27px;z-index:1000;}
.menu .menu-nav li{padding-left:12px;padding-right:12px;height:24px;line-height:24px;display: block;background:#eee;border:2px solid #fff;border-right-color: #ccc;border-bottom-color:#ccc;}
.menu .menu-nav li a{color:#666;width:100%;height:24px;}

#content {width:1000px;margin-top:15px;overflow:hidden;}

.con-left{width:192px;border:1px solid #ccc;padding:3px 2px 2px 2px;margin-bottom:10px;background: #f5f5f5;float:left;}
.intro{border-bottom:1px solid #ccc;padding-bottom:2px;}
.intro img{border-radius:3px;}
.intro .text{width:193px;background:#eac971;}
.intro .text p{margin-top:2px;text-indent: 28px;padding:6px;}
.intro .text p a{font-size:12px;line-height:20px;}

.text .more {width:193px;padding:6px 0;}
.text .more img{display: block;padding-left: 110px;}

.links{width:196px;padding-bottom:8px;}
.links-mo{width:196px;}
.links-mo h2{letter-spacing:3px;margin-top:12px;margin-left:12px;padding-bottom:4px;background: url(../img/fwdh.png) no-repeat;}
.links-mo h2 span{padding-left:38px;font-size:16px;color:#4e8bd2;}

.links-mo ul{padding:3px 14px 8px 26px;overflow:hidden;}
.links-mo li{display: block;float:left;border-bottom:1px dotted #999;padding-right:22px;padding-bottom:4px;padding-top:5px;margin-right:6px;}
.links-mo li a{font-size: 12px;}

.con-mid{width:486px;float:left;margin-left:9px;}
.news-mod{width:486px;background: url(../img/news-bg.jpg) no-repeat left top;}
.news-mod h2{letter-spacing:3px;color:#bc3434;width:462px;height:26px;background: url(../img/moreout.jpg) no-repeat right top;padding-left:24px;line-height: 26px;}
.news-mod ul{padding-left: 10px;padding-top: 16px;}
.news-mod li{line-height: 28px;width:464px;}
.news-mod li a {color:#3e3a39;}
.news-mod li span{display: block;float:right;}

.con-right{padding-left:9px;float:left;}
.scroll-news{padding:0 2px 2px 2px;width:290px;height:227px;border:1px solid #ccc;border-radius:5px;overflow:hidden;position:relative;}
.scroll-news h4{width:290px;height:18px;font-size: 12px;line-height: 18px;text-align:center;font-weight:normal;}
.scroll-news img{width:290px;height:214px;}
.scroll-news span{display: block;width:290px;height:14px;background: gray;position:absolute;left:2px;bottom:0;}
.scroll-news ul{padding-top:4px;width:86px;height:21px;position: absolute;right:2px;bottom:1px;}
.scroll-news li{text-align:center;line-height:24px;width:20px;height:21px;float:left;background: gray;border-left:1px solid #fff;}
.scroll-news li a{color:#fff;display: block;width:20px;height:21px;}
.scroll-news li.active{background: #d34600;}

.mod-out{width:297px;background: url(../img/mod-mid-bg.gif) repeat-y;}
.mod-mid{width:297px;background: url(../img/mod-top-bg.gif) no-repeat 0 0;}
.mod-in{padding:8px 9px 8px 8px;background: url(../img/mod-bot-bg.gif) no-repeat 0 bottom;}

.mod-in h2{padding-left:40px;color:#e97026;font-size: 14px;}
.mod-in p {margin-top:10px;line-height: 20px;text-indent:36px;letter-spacing:2px;}

.mod-in ul{margin-top:7px;padding-left:10px;line-height: 43px;letter-spacing:2px;overflow:hidden;}
.mod-in li:first-child{margin-right:30px;}
.mod-in li{display: block;float:left;}

.mod-in form{padding-top:16px;padding-left:60px;}
.mod-in .text{width:112px;height:12px;margin-left:10px;margin-bottom: 5px;}
.mod-in .btn{margin:5px auto 8px 50px;background:#fff;border:1px solid #ccc;}

.mod-in .foot-nav{padding-top:18px;padding-left:20px;letter-spacing:2px;}
.mod-in .hint{width:140px;height:16px;margin-left:10px;margin-bottom: 12px;background: url(../img/foot-select-bg.gif) no-repeat right top;border:1px solid #ccc;border-radius:2px;}

#footer{height:90px;width:1000px;background: #9a9a9a;margin-top:-6px;text-align:center;position: relative;}
#footer p{line-height: 20px;font-size: 12px;color:#fff;}
#footer .foot-text{padding-top:16px;}
#footer .foot-blue{position: absolute;left:280px;top:4px;}
#footer .foot-gt{position:absolute;left:640px;top:14px;}
#footer .foot-gt img{border-radius:4px;}